menu Choose an operating system to boot
item debian     Debian
item ubuntu     Ubuntu
choose os && goto ${os}

:debian
chain {{ base_url }}/debian/stretch

:ubuntu
chain {{ base_url }}/ubuntu/bionic

{#
Sample how to take screenshots. Taken from https://ipxe.org/cfg/vram

chain -a http://boot.ipxe.org/memtest.0 onepass onefail ||
params
param screenshot ${vram}
chain -a {{ base_url }}/screenshot/##params
#}