kernel http://httpredir.debian.org/debian/dists/{{ version }}/main/installer-i386/current/images/netboot/debian-installer/i386/linux vga=788 initrd=initrd.gz --- quiet
initrd http://httpredir.debian.org/debian/dists/{{ version }}/main/installer-i386/current/images/netboot/debian-installer/i386/initrd.gz
boot
